# Supabase
SUPABASE_URL=https://pvbuhthlwuujipjvitrl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2YnVodGhsd3V1amlwanZpdHJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDgzODksImV4cCI6MjA5MzkyNDM4OX0.oSNG719cPaLS4bZSUp37LFXBWEUTUihYeSoJHf0t7to

# Server
PORT=3000
NODE_ENV=development
